.down{ background:url("down.png") top left no-repeat; }
._7_登录_r2_c4{ width:31px; height:28px; background-position:-10px -10px; }
._7_登录_r4_c2{ width:12px; height:13px; background-position:-10px -48px; }

